.uni-margin-wrap {
    width: 690rpx;
    margin: 0 30rpx;
  }
  .swiper {
    height: 349rpx;
  }
  .swiper-item {
    display: block;
    height: 400rpx;
    line-height: 300rpx;
    text-align: center;
  }
  